[submodule "libs/llama.cpp-master"]
	path = libs/llama.cpp-master
	url = git@github.com:ggml-org/llama.cpp.git
[submodule "libs/tokenizers-rust"]
	path = libs/tokenizers-rust
	url = git@github.com:huggingface/tokenizers.git
[submodule "libs/Vulkan-Headers"]
	path = libs/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
