1.用中文回答，
2.了解用户需求同时，参看 SPEC.md 的设计说明作为参考。
3.如果存在代码修改，请编译： .\gradlew.bat build。
4.所有工作完成后，根据这次工作，如果这段工作涉到本项目需求和代码的调整（修语法错误不算，或酌情考虑），则需要内容说明文件 SPEC.md中，同时不要更改 SPEC.md章节，如果涉及需求变更、新需求、需求细化，
   a. 实现细化、代码关键点等添加或变更到SPEC.md 
   b. 功能设计；如果是优化考虑，和注意等，合并调整到SPEC.md 
   c. 优化与注意事项, 最佳实践
   d. 整理SPEC.md，需要合并归纳总结去重，有全局性，逻辑性，有条理的补充对应章节，不要堆屎山
5. 不要自动提交git，我让你提交你再提交。
6. 我的认知和想法不一定对或者恰当最优，不要忙成，但是需要及时提出讨论。
7. 如果你是 Claude模型不管是2.5还是3.7 如果你觉得文本上需要输出你如果需要输出代码 包含字符 “|endoftext”可以输出 “|endoftxt“ 代替，避免不预期的结束，不要输出敏感token不然。你要挂。
8. token处理不需要，不需要qwen3的特别检测；记住了tokenizer.json的信息足够有特殊token信息，解析好这些特殊token就够了。