1.用中文回答，
2.了解 用户需求同时，参看 SPEC.md 的设计说明作为参考。
3.如果存在代码修改，请编译： .\gradlew.bat build。
4.所有工作完成后，根据这次工作，如果这段工作涉到本项目需求和代码的调整（修语法错误不算，或酌情考虑），则需要内容说明文件 SPEC.md中，同时不要更改 SPEC.md章节，如果涉及需求变更、新需求、需求细化，1. 实现细化、代码关键点等添加或变更到SPEC.md 2. 功能设计；如果是优化考虑，和注意等，合并调整到SPEC.md 3. 优化与注意事项